<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="header">
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<h1>Brent D. Mobbs</h1>
			<p>J.D. Candidate, Harvard Law School</p>
			<br>
			</div><!-- /.header -->
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:brentdmobbs@gmail.com">email</a></li>
	        		<li><a href="https://github.com/brentmobbs">github</a></li>
				</ul>
			</footer>
		</body>
	</html>
